.container {
    max-width: 100VW;
    min-height: 100vh;
   
    margin: auto 5rem;
  perspective: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform-style: preserve-3d;
   background-color: black;
    color: white;
  }
 
 
  .center {
    color: white;
    font-weight: bolder;
    text-align: center;
  }
  .link {
    color: white;
  }
  .background {
    /* background-image: url('../../public/images/background.jpg'); */
    display: flex;
 background-color: black;
  position: relative;
  z-index:-1;
  height: 105vh;
  
  transform: translateZ(-1px) scale(2);

background-size: 100%;
  }